<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="emp" class="com.prowings.beanScopes.Employee"
		scope="singleton">
		<property name="id" value="10" />
		<property name="name" value="Ram" />
		<property name="address" value="Pune" />
	</bean>

	<bean id="std" class="com.prowings.beanScopes.Student" >
		<property name="id" value="11"></property>
		<property name="name" value="Sham"></property>
		<property name="address" ref="addr"></property>
		
		<!-- Whenever we call getAddress() method(to resolve Complex bean Scope problem), due to lookup-method tag it will give
		     Address bean/object dynamically at the runtime...exactly like bean scope of "prototype" -->
		<lookup-method  name="getAddress" bean="addr" />
	</bean>
	<bean id="addr" class="com.prowings.beanScopes.Address"
		scope="prototype">

		<property name="pin" value="415101"></property>
		<property name="city" value="pune"></property>
		<property name="country" value="India"></property>
	</bean>

</beans>