<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--Auto wire can have "no(default)","byType"-type of class,"byName"-it should match exact name as property,"constructor"-constructor should present in your class of same type  -->
	<bean id="per" name="person"
		class="com.prowings.autowiring.Person" autowire="constructor">
		<property name="id" value="1"></property>
		<property name="name" value="Ram"></property>
		
		<!-- For manual wiring use below tag -->
		<!-- <property name="address" ref="addr"></property> -->
	</bean>

	<bean id="addr" class="com.prowings.autowiring.Address"  >
	<property name="pin" value="123"></property>
	<property name="city" value="pune"></property>
	<property name="country" value="India"></property>
	</bean>
	<bean id="addr1" class="com.prowings.autowiring.Address"  autowire-candidate="false" >
	<property name="pin" value="213"></property>
	<property name="city" value="Mumbai"></property>
	<property name="country" value="India"></property>
	</bean>
</beans>